.hide{
    display: none;
}

.fighterWraper{
    display: flex;
    flex-direction: column;
}

.fighterWraper textarea{
    width: 90%;
}
.fighterWraper label{
    margin: 0;
    color: black;
}


.listWraper{
    display: flex;
    justify-content: center;
}
.listWraper ul{
    display: flex;
    flex-direction: column;
    padding:0; 
    background-color: black;
    color: whitesmoke;
    border: solid 3px black;

}

.listWraper ul :first-child{
    border: double 10px black; 
    background-color: whitesmoke;
}

.listWraper li{
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.fighterWraper a{
    text-decoration: none;
}

.fighterWraper button{
    display: flex;
    justify-content: center;
    width:40px;
}
.fighterWraper a img{
    width: 30px;
}

.fighterWraper ul li{
    list-style: none;
}

#API_comment{
    display: flex;
    align-items: center;
}

.commentsScoreWrapper{
    display: flex;
    width: 90%;
}

.commentsScoreWrapper label, .commentsScoreWrapper select, .commentsScoreWrapper input{
    margin-left: 10px;
}



.listOfCommentsWrapper table tr{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.listOfCommentsWrapper table{
    display: flex;
    flex-flow: column;
    padding: 2px;
    margin: 4px 10px;
}

.listOfCommentsWrapper th, .listOfCommentsWrapper td{
    display: flex;
    align-items: left;
}


