.div-content-login {
    display: flex;
    justify-content: center;
    background-image: url(../images/backgroundRegistrarse.jpg);
    background-size: contain;
}

.div-login {
    width: 40%;
    margin-top: 40px;
    border: solid black 2px;
    background-color: rgba(160, 46, 46, 0.808);
    justify-content: center;
    padding-bottom: 20px;
}

.div-login h3 {
    background-color: rgba(201, 58, 58, 0.808);
    margin: 0px;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

form, .div-login{
    display: flex;
    flex-direction: column;
}



form label{
    margin: 20px 0px 8px 0px;
    padding-left: 2px;
    color: white;

}


@media only screen and (min-width:700px) {
    .div-content-login{
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
}