body{
    margin:0px;
}
.pageHeader{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    color: black;
    background-color: black;
    border-bottom: solid 3px rgb(226, 226, 226);
}

header{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-end;
    background-image: url(../images/backgroundHeader.jpg);
}

header p{
    color: whitesmoke;
}

header h1, header h2, header p{
    font-family:'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin: 0;
    justify-content: center;

}

header h1{
    font-size: 70px;
    width: 190px;
    background-color: rgba(192, 192, 192, 0.753);
    animation: logo 1s;
    animation-iteration-count: initial;
}

@keyframes logo{
    0%{background-color: rgba(192, 192, 192, 0.753);}
    50%{background-color: white;}
    100%{background-color: rgba(192, 192, 192, 0.753);}
    
}
header h2{
    font-size: 20px;
    width: 190px;
    background-color: rgb(226, 226, 226);
    border-bottom: solid 3px black;
}

#btn-scroll-menu{
    height: 30px;
    background-color: black;
    margin: 3px;
    border: solid 1px whitesmoke;
    color: whitesmoke;
}

#btn-scroll-menu:hover{
    background-color: rgb(59, 59, 59);
    border-color: rgb(226, 226, 226);
}

.nav-hidden{
    display: none;
    margin-right: 5px;
    
}

.nav-scrolled{
    display: flex;
    margin-right: 5px;
}

.nav-scrolled li{
    width: 150px;
}

.nav-scrolled li:hover{
    background-color: rgb(226, 226, 226);
}

.nav-scrolled a:hover{
    color: black;
    font-size: larger;
}

.pageHeader ul{
    padding-top: 5px;
    border-top: solid 3px rgb(226, 226, 226);
    list-style: none;
}

.pageHeader li{
    border-bottom: solid 2px white;
}

.pageHeader a{
    text-decoration: none;
    color: white;
}

footer{
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
    font-variant: small-caps;
    color: whitesmoke;
    background-color: black;
    border-top: solid 1px whitesmoke;
}

footer span{
    padding: 0 2px;
}

@media only screen and (min-width:700px) {
    
    #btn-scroll-menu{
        display: none;
    }

    .pageHeader header{
        justify-content: center;
    }

    .pageHeader nav{
        width: 100%;
        margin: 0;
        color: whitesmoke;
        background-color: black;
        display: flex;
        justify-content: center;
    }

    .pageHeader ul{
        display: flex;
        flex-direction: row;
        border: none;
        padding: 0 0 0 10px;
        margin: 2px 0;
    }

    .pageHeader li{
        padding: 0 10px;
        margin: 1px;
        border: none;
    }

    .pageHeader li:hover{
        background-color: rgb(226, 226, 226);
    }

    .pageHeader a:hover{
        color: black;
    }   
}


